body {
  font-family: Verdana, Geneva, sans-serif;
  color: #404040;
}
#chat-client .error {
  font-style: italic;
  color: #a04040;
}
#chat-client {
  width: 50em;
}
#chat-box .notice {
  font-style: italic;
  color: gray;
}
#chat-box, #chat-input, #chat-identity-list-container {
  border-style: solid;
  border-width: 0.1em;
  border-color: gray;
}
#chat-box {
  padding: 0.25em;
  width: 39.4em;
  height: 20em;
  overflow-y:scroll;
  vertical-align: bottom;
}
#chat-identity {
  padding-bottom: 0.25em;
  padding-right: 0.25em;
  text-align: right;
}
#chat-box {
  position: relative;
  float:left;
}
#chat-identity-list-container {
  padding: 0.25em;
  width: 9.26em;
  height: 20em;
  overflow-y: auto;
  overflow-x: hidden;
  float: right;
}
#chat-identity-list {
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
#chat-identity-list .identity {
  text-align: right;
}
#chat-input-box {
  width: 49.35em;
  clear: both;
}
#chat-input {
  margin-top: 0.13em;
  padding: 0.25em;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}
